h1 {
    font-family:  'Great Vibes', cursive;
    margin-left: 50px
}

.jumbotron {
    background-color: white;
}

.menu_drop {
    color: #232323!important;
}

@font-face {
    font-family: Broken Heart;
    src: url(fonts/broken_heart/Broken_Heart.ttf);
}

.name {
    font-size: 70px;
    color: #232323;
    font-family: Broken Heart;
}
